
{% include "collect_json_attachments" %}

<script src="breakpoint.js"></script>

<script>
  $(function() {

    // Replace distance units with km
    // See official response http://nationbuilder.com/mroswell/event_radius_defaults
    _nb.miles = $('div.distance label.radio').each(function() {
        $(this).html($(this).html().replace(/miles?/,'km'));
    })

    // Responsive images
    // Create list of all included attached files matching 'Desktop'
    _nb.desk = _nb.attachments.filter(function (el) {return el.name.search(/Desktop/) != -1});

    // For each 'desktop' file, replace 
    _nb.desk.forEach(function(el) {
      mobname = el.name.replace('Desktop','Mobile');
      // find an attachment matching the name with Mobile
      mobimg = _nb.attachments.filter(function(el) {return el.name == mobname; });
      if (mobimg.length == 1) {
        // add data attrib pointing to Desktop URI
        $("img[src='"+mobimg[0].url+"']").attr("data-minwidth767px",el.url);
      }
    });

  $("img").breakpoint();
  // End responsive images

  });
</script>
